.transaction-type {
  font-family: Arial;
  font-style: italic;
}

.transaction {
  margin-top: 4em;
}

.account-total {
  font-family: Arial;
  color: blue
}

.prompt {
  font-family: Arial;
  font-weight: bold;
}

.dropdown-select {
  margin-top: 2em;
}

